azuresql_db_name                  = ""
azuresql_db_server_url            = ""
enable_tfc_agent_pool             = true/false
github_oauth_token                = ""
github_organization               = ""
github_repository                 = ""
tfc_organization                  = ""
tfc_project                       = ""
tfc_token                         = ""
vault_address                     = ""
vault_address_tfc_agent           = ""
vault_azuresql_secrets_mount      = ""
vault_azuresql_secrets_connection = ""
vault_azuresql_secrets_role       = ""
vault_url                         = ""
TFC_VAULT_ADDR                    = ""
VAULT_ADDR                        = ""
TFE_TOKEN                         = ""
VAULT_TOKEN                       = ""