github_organization               = ""
github_repository                 = ""
github_oauth_token                = ""
tfc_organization                  = ""
tfc_project                       = ""
tfc_token                         = ""
vault_address                     = ""
vault_address_tfc_agent           = ""
enable_tfc_agent_pool             = true
vault_url                         = ""
vault_azuresql_secrets_mount      = ""
vault_azuresql_secrets_connection = ""
vault_azuresql_secrets_role       = ""
azuresql_db_server_url            = ""
azuresql_db_name                  = ""